.headerContainer {
    padding: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    border: black 0.25rem solid;
    border-top: none;
}

.name {
    display: flex;
    cursor: default;
}

.letter {
    width: 4rem;
    height: 4rem;
    padding: 0.25rem;
    margin: 0.25rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: whitesmoke;
    background-color: #d95d5d;
    border: black 0.25rem solid;
    font-weight: bold;
    font-size: 1.25rem;
    box-shadow: 0.25rem 0.25rem black;
    text-shadow: 0.1rem 0.1rem #000;  
    text-decoration: none;
}

.letter:hover {
    animation: 0.5s shiver;
    text-decoration: none;
    color: whitesmoke;
}


.navTabs {
    display: flex;
    align-items: center;
}

.navTab {
    width: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    aspect-ratio: 4/1;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border: black 0.25rem solid;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0.25rem 0.25rem black;
}

.navTab:hover {
    animation: 0.5s shiver;
    text-decoration: none;
    color: black;
    box-shadow: 0.25rem 0.25rem #d95d5d;
}

@keyframes shiver {
    0%, 100% { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

@media (width <= 1320px) {
    .headerContainer {
        width: 100%;
    }
}

@media (width <= 1000px) {
    .headerContainer {
        display: block;
    }

    .navTabs {
        justify-content: center;
    }

    .navTab {
        font-size: smaller;
        aspect-ratio: 2/1;
    }

    .name {
        justify-content: center;
        width: fit-content;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: #000 0.25rem solid;
        box-shadow: 0.25rem 0.25rem black;
        margin: auto;
    }

    .letter {
        aspect-ratio: 1;
        height: auto;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        color: whitesmoke;
        background-color: #e81416;
        border: none;
        font-weight: bold;
        font-size: 1.5rem;
        box-shadow: none;
        text-shadow: 0.1rem 0.1rem #000;  
    }
    
    .letter:hover {
        animation: none;
    }
}