.container {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: var(--color-black);
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'josefin-bold-italic', sans-serif;
}

.link:hover {
    background-color: transparent;
    color: var(--color-accent-admin);
    cursor: pointer;
    text-decoration: underline;
}
