.container {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    border: black 0.25rem solid;
    border-top: none;
}


.currentImage {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 1rem;
    border: 0.1rem solid #ccc;
}

.map {
    height: 200px;
    width: 400px;
}