.container {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.signOut {
    padding: 0.5rem 1rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}