.modal {
    font-family: urbanistBoldItalic;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2.5%;

}

.photoPreview {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.photo > img {
    border-radius: 2.5%;
    border: #e98484 0.25rem solid;
}

.modalContent {
    position: fixed;
    display: none;
    z-index: 999;
    cursor: auto;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    width:80%;
    height: fit-content;
    max-height: 90vh;
}

.close {
    all: unset;
    font-size: 3rem;
    user-select: none;
    position: absolute;
    top: 2%;
    right: 32.5%;
    
}

@media only screen and (max-width: 1600px) {
    .modalContent {
        top: auto;
        left: auto;
        transform: none;
        right: 5%;
        position: fixed;
        display: none;
        z-index: 999;
        cursor: auto;
        top: 25%;
        width: fit-content;
        max-width: 70vw;
        height: fit-content;
        max-height: 70vh;

    }

    .close {
        font-size: 1.5rem;
        top: 2.5%;
        right: 5%;
    }


}

@media only screen and (max-width: 1365px) {
    .modalContent {
        all: unset;
        position: fixed;
        display: none;
        z-index: 999;
        cursor: auto;
        top: 25%;
        width: 90vw;
        height: fit-content;
        max-height: 70vh;

    }

    .close {
        font-size: 1.5rem;
        top: 2.5%;
        right: 5%;
    }

}