.modal {
    font-family: urbanistBoldItalic;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2.5%;

}

.photoPreview {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.photo > img {
    border-radius: 2.5%;
    border: #e98484 0.25rem solid;
}

.modalContent {
    position: fixed;
    display: none;
    z-index: 999;
    cursor: auto;
    top: 50%;
    left: 50%;
    transform: translate(-32%, -50%);
    width: fit-content;
    max-width: 70%;
}

.close {
    all: unset;
    font-size: 3rem;
    user-select: none;
    position: absolute;
    top: 2%;
    right: 2.5%;
    
}

@media only screen and (max-width: 1600px) {
    .modalContent {
        all: unset;
        position: fixed;
        display: none;
        z-index: 999;
        cursor: auto;
        top: 25%;
        left: 25%;
        width: fit-content;
        max-width: 80%;
    }

    .close {
        font-size: 1.5rem;
        top: 2%;
        right: 5%;
    }

}