.sortingButtons {
    padding-bottom: 1rem;
}

.button {
    color: #e98484;
    background-color: #f4f2de;
    border: solid #e98484;
    margin: 0.1rem 1rem;
    transition: 0.6s;
}

.button:hover {
    color: #f4f2de;
    background-color: #e98484;
    border: solid #e98484;
}

.collButton {
    color: #cc74b9;
    background-color: #f4f2de;
    border: solid #cc74b9;
    margin: 0.1rem 1rem;
    transition: 0.6s;
}

.collButton:hover {
    color: #f4f2de;
    background-color: #cc74b9;
    border: solid #cc74b9;
}
