.container {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    border: black 0.25rem solid;
    border-top: none;
}

.header {
    font-size: xx-large;
    font-family: josefin-bold-italic;
    padding-top: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 0;
}

@media only screen and (max-width: 1320px) {
    .container {
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}
