.container {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    border: var(--color-black) 0.25rem solid;
    border-top: none;
}

.heading {
    text-align: center;
    font-size: xx-large;
    font-family: josefin-bold-italic;
    padding-top: 1rem;
}

.photoContainer {
    width: fit-content;
    margin: 2.5rem auto;
}

.image {
    border: var(--color-black) 0.25rem solid;
    box-shadow: 0.25rem 0.25rem var(--color-black);
}
