.container {
    text-align: center;
    min-height: 90vh;
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
    border: var(--color-black) 0.25rem solid;
    border-top: none;
}

.mapContainer {
    border: var(--color-black) 0.25rem solid;
    box-shadow: 0.25rem 0.25rem var(--color-black);
    background-color: var(--color-accent-blue);
    width: fit-content;
    margin: 0 auto;
}

.map {
    height: 80vh;
    width: 50vw;
}

@media only screen and (max-width: 1320px) {
    .container {
        width: 100%;
    }

    .map {
        height: 60vh;
        width: 75vw;
        margin: auto;
        z-index: 0;
    }
}
