@font-face {
    font-family: sono-regular;
    src: url('/fonts/sono/Sono-Regular.ttf');
}

@font-face {
    font-family: sono-bold;
    src: url('/fonts/sono/Sono-Bold.ttf');
}

@font-face {
    font-family: sono-extra-bold;
    src: url('/fonts/sono/Sono-ExtraBold.ttf');
}

@font-face {
    font-family: sono-extra-light;
    src: url('/fonts/sono/Sono-ExtraLight.ttf');
}

@font-face {
    font-family: sono-light;
    src: url('/fonts/sono/Sono-Light.ttf');
}

@font-face {
    font-family: sono-medium;
    src: url('/fonts/sono/Sono-Medium.ttf');
}

@font-face {
    font-family: sono-semi-bold;
    src: url('/fonts/sono/Sono-SemiBold.ttf');
}

@font-face {
    font-family: josefin-bold;
    src: url('/fonts/josefin/JosefinSans-Bold.ttf');
}

@font-face {
    font-family: josefin-regular;
    src: url('/fonts/josefin/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: josefin-light;
    src: url('/fonts/josefin/JosefinSans-Light.ttf');
}

@font-face {
    font-family: josefin-thin;
    src: url('/fonts/josefin/JosefinSans-Thin.ttf');
}

@font-face {
    font-family: josefin-semi-bold;
    src: url('/fonts/josefin/JosefinSans-SemiBold.ttf');
}

@font-face {
    font-family: josefin-medium;
    src: url('/fonts/josefin/JosefinSans-Medium.ttf');
}

@font-face {
    font-family: josefin-extra-light;
    src: url('/fonts/josefin/JosefinSans-ExtraLight.ttf');
}

@font-face {
    font-family: josefin-thin-italic;
    src: url('/fonts/josefin/JosefinSans-ThinItalic.ttf');
}

@font-face {
    font-family: josefin-light-italic;
    src: url('/fonts/josefin/JosefinSans-LightItalic.ttf');
}

@font-face {
    font-family: josefin-italic;
    src: url('/fonts/josefin/JosefinSans-Italic.ttf');
}

@font-face {
    font-family: josefin-bold-italic;
    src: url('/fonts/josefin/JosefinSans-BoldItalic.ttf');
}

@font-face {
    font-family: josefin-medium-italic;
    src: url('/fonts/josefin/JosefinSans-MediumItalic.ttf');
}

@font-face {
    font-family: josefin-semi-bold-italic;
    src: url('/fonts/josefin/JosefinSans-SemiBoldItalic.ttf');
}

@font-face {
    font-family: josefin-extra-light-italic;
    src: url('/fonts/josefin/JosefinSans-ExtraLightItalic.ttf');
}

:root {
    /* Backgrounds */
    --color-bg: #f7efe0;
    --color-bg-modal: #f8f8f8;
    --color-bg-input: #f7f7f7;
    --color-bg-admin: #fffbe6;
    --color-bg-disabled: #e0e0e0;

    /* Accents */
    --color-accent-red: #d95d5d;
    --color-accent-orange: #db8525;
    --color-accent-orange-faded: #db862550;
    --color-accent-yellow: #e8c43c;
    --color-accent-lime: #bed649;
    --color-accent-blue: #9ecbdb;
    --color-accent-pink: #c771a1;
    --color-accent-teal: #7c9d96;
    --color-accent-tan: #e9b384;
    --color-accent-admin: #ff5a36;

    /* Borders */
    --color-border-light: #ccc;
}

* {
    margin: 0;
}

html {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: josefin-regular;
}

body {
    background-color: var(--color-bg);
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
