@font-face {
    font-family: sono-regular;
    src: url('/fonts/sono/Sono-Regular.ttf');
}

@font-face {
    font-family: sono-bold;
    src: url('/fonts/sono/Sono-Bold.ttf');
}

@font-face {
    font-family: sono-extra-bold;
    src: url('/fonts/sono/Sono-ExtraBold.ttf');
}

@font-face {
    font-family: sono-extra-light;
    src: url('/fonts/sono/Sono-ExtraLight.ttf');
}

@font-face {
    font-family: sono-light;
    src: url('/fonts/sono/Sono-Light.ttf');
}

@font-face {
    font-family: sono-medium;
    src: url('/fonts/sono/Sono-Medium.ttf');
}

@font-face {
    font-family: sono-semi-bold;
    src: url('/fonts/sono/Sono-SemiBold.ttf');
}

@font-face {
    font-family: josefin-bold;
    src: url('/fonts/josefin/JosefinSans-Bold.ttf');
}

@font-face {
    font-family: josefin-regular;
    src: url('/fonts/josefin/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: josefin-light;
    src: url('/fonts/josefin/JosefinSans-Light.ttf');
}

@font-face {
    font-family: josefin-thin;
    src: url('/fonts/josefin/JosefinSans-Thin.ttf');
}

@font-face {
    font-family: josefin-semi-bold;
    src: url('/fonts/josefin/JosefinSans-SemiBold.ttf');
}

@font-face {
    font-family: josefin-medium;
    src: url('/fonts/josefin/JosefinSans-Medium.ttf');
}

@font-face {
    font-family: josefin-extra-light;
    src: url('/fonts/josefin/JosefinSans-ExtraLight.ttf');
}

@font-face {
    font-family: josefin-thin-italic;
    src: url('/fonts/josefin/JosefinSans-ThinItalic.ttf');
}

@font-face {
    font-family: josefin-light-italic;
    src: url('/fonts/josefin/JosefinSans-LightItalic.ttf');
}

@font-face {
    font-family: josefin-italic;
    src: url('/fonts/josefin/JosefinSans-Italic.ttf');
}

@font-face {
    font-family: josefin-bold-italic;
    src: url('/fonts/josefin/JosefinSans-BoldItalic.ttf');
}

@font-face {
    font-family: josefin-medium-italic;
    src: url('/fonts/josefin/JosefinSans-MediumItalic.ttf');
}

@font-face {
    font-family: josefin-semi-bold-italic;
    src: url('/fonts/josefin/JosefinSans-SemiBoldItalic.ttf');
}

@font-face {
    font-family: josefin-extra-light-italic;
    src: url('/fonts/josefin/JosefinSans-ExtraLightItalic.ttf');
}

* {
    margin: 0;
}

html {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: josefin-regular;
}

body {
    background-color: #f7efe0;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
