.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.backButton {
    border: 0.25rem solid #f4f2de;
    border-radius: 1rem;
    text-decoration: none;
    color: #f4f2de;
    background-color: #7c9d96;
    padding: 1%;
    position: absolute;
    left: 20vw;
    margin-top: 2%;
    margin-left: 2%;
    transition: 0.3s;
}

.backButton:hover {
    background-color: #f4f2de;
    color: #7c9d96;
    border: 0.25rem solid #7c9d96;
}

.title {
    margin: 2%;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    padding: 2%;
    border-radius: 1rem;
}
