.sortingButtons {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.button {
    font-size: large;
    background-color: var(--color-bg);
    border: solid var(--color-black);
    box-shadow: 0.25rem 0.25rem var(--color-black);
    padding: 0 0.5rem;
    margin: 0.1rem 1rem;
    transition: 0.3s;
    aspect-ratio: 4/1;
    width: 10em;
    font-family: josefin-regular;
}

.button:hover {
    color: var(--color-white);
    background-color: var(--color-accent-red);
}

.collButton {
    font-size: large;
    background-color: var(--color-bg);
    border: solid var(--color-black);
    box-shadow: 0.25rem 0.25rem var(--color-black);
    padding: 0 0.5rem;
    margin: 0.1rem 1rem;
    transition: 0.3s;
    aspect-ratio: 4/1;
    width: 10em;
}

.collButton:hover {
    color: var(--color-white);
    background-color: var(--color-accent-pink);
}

.checkboxes {
    display: block;
    text-align: start;
}

.checkbox {
    font-size: large;
    margin: 0.5rem 1rem;
    transition: 0.3s;
}

.checkbox input {
    accent-color: var(--color-accent-red);
    transform: scale(1.2);
    margin-right: 0.5rem;
}

.collCheckbox {
    font-size: large;
    margin: 0.1rem 1rem;
    transition: 0.6s;
}

.collCheckbox input {
    accent-color: var(--color-accent-pink);
    transform: scale(1.2);
    margin-right: 0.5rem;
}

@media (width <= 1320px) {
    .sortingButtons {
        display: block;
    }

    .checkboxes {
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }
}
