.header {
    font-family: newspaper;
    border-top: solid;
    margin-top: 5%;

    font-size: 2.5rem;
}

.mainabouttext {
    font-family: newspapermedium;
    font-size: 1.5rem;
}

@media only screen and (max-width: 1024px) {
    .text {
        width: 80%;
    }

}
@media only screen and (min-width: 1025px) {
    .text {
        width: 40%;
    }

}