.header {
    font-family: newspaper;
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
}

.titleblock {
    padding: 0rem 1rem;
}

.titlelink {
    font-size: 4rem;
    text-decoration: none;
    color: #000;
    text-align: center;
}

.titlelink:hover {
    color: #000;
    text-decoration: underline;
}

.tagline {
    font-size: 1rem;
    text-align: center;
}

.navs {
    font-size: 1.5rem;
    text-align: center;
    border-top: solid;
    border-bottom: solid;
}

.navlink {
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin: 0rem 0.5rem;
    padding: 0rem 0.5rem;
}
.navlink:hover {
    color: #000;
    text-decoration: underline;
    
}

@media only screen and (max-width: 450px) {
    .titlelink {
        font-size: 3rem;
      }

    .tagline {
        font-size: 0.75rem;

    }
    
    .navs {
        font-size: 1.125rem;

    }
 
 }

@media only screen and (max-width: 350px) {
    .titlelink {
        font-size: 2rem;
      }

    .tagline {
        font-size: 0.5rem;

    }
    
    .navs {
        font-size: 0.75rem;

    }
 
 }

