.carousel {
    position: relative;
    overflow: hidden;

}

.carouselwrapper {
    display: flex;
}

.centerImage {
    position: relative;
    height: 100%;

}

.leftImage,
.rightImage {
    flex: 0 0 calc(100% / 3);
    opacity: 0.4;
    filter: drop-shadow(0 0 1rem #0067ff);
    height: 100%;
    


}

.centerImage img,
.leftImage img,
.rightImage img {
    height: 100%;
    display: block;
    width: 100%;
    padding: 5%;
    border-radius: 10%;
    
    
}

.prevbutton,
.nextbutton {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.prevbutton {
    top: 0;
    left: 0;
    z-index: 1;
}

.nextbutton {
    top: 0;
    right: 0;
    z-index: 1;
}