.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carouselwrapper {
    display: flex;
    width: 50%;
    margin: auto;
}

.centerImage {
    position: relative;
    height: 100%;
    z-index: 9;
    /* opacity: 0.1; */
}

.leftImage,
.rightImage {
    opacity: 0.8;
    /* filter: drop-shadow(0 0 1rem #0067ff); */
    height: 100%;
    margin: auto;
    z-index: 8;
    position: absolute;
    width: 33%;
}

.rightImage {
    transform: translateX(75%);
}

.leftImage {
    transform: translateX(-75%);
}

.centerImage img {
    display: block;
    width: 70%;
    border-radius: 5%; 
}

.leftImage img,
.rightImage img {
    height: 80%;
    display: block;
    border-radius: 5%; 
    object-fit: cover;
    transform: translateY(12.5%);
}

.leftImage img {
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
}

.rightImage img {
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    
}

.prevbutton,
.nextbutton {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.prevbutton {
    top: 0;
    left: 0;
    z-index: 10;
}

.nextbutton {
    top: 0;
    right: 0;
    z-index: 10;
}