.singleImage {
    width: 77.5vw;
    margin-left: 22.5vw;
    padding: 1% 10%;
    height: 100vh;
}

.imagecontainer {
    max-width: fit-content;
    margin: 0 auto;
}

 .imagecontainer > img {
    border-radius: 1%;
    max-height: 80vh;
    max-width: fit-content;

}

.imageHeader {
    font-family: UrbanistBold;
}

.imageDetails {
    font-family: UrbanistBoldItalic;
}

.imagetitle {
    font-size: 1.5rem;
    width: 50%;
}

.imagedate {
    font-size: 1.25rem;
    width: 50%;
    text-align: end;
}

.imagesettings {
    font-size: 1.25rem;
    width: 100%;
    /* text-align: end; */
} 
