.photocontainer {
    -webkit-column-break-inside : avoid;
    -moz-column-break-inside : avoid;
    break-inside: avoid;
    font-family: urbanistBoldItalic;
}

.photopreview {
  text-decoration: none;
  color: #ffc348;

}

.photopreview:hover {
    color: #ffc348;
    text-shadow: 0.5rem 0.5rem 0.5rem #a88bbd;
}

.photo > img{
    border-radius: 5%;
}