.container {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    border: black 0.25rem solid;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}