.singleImage {
    width: 75vw;
    font-size: 1.5rem;
    font-family: UrbanistBold;
    display: flex;
    padding-top: 12.5vh;
}

.imagecontainer {
    width: fit-content;
    height: fit-content;
    max-height: 80vh;
    margin-left: auto;
}

.imagecontainer img {
    max-height: 75vh;
    max-width: 70vw;
}

.imageDetails {
    margin-left: 1%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1%;
    border: #e98484 0.25rem solid;
}

.imageTitle {
    margin: 0;
}

.imageDate {
    font-size: 1.25rem;
    margin: 0;
}

.imageCamera {
    font-size: 1.25rem;
    font-family: UrbanistBoldItalic;
    margin: 0;
}

.imageFilm {
    font-size: 1.25rem;
    font-family: UrbanistBoldItalic;
}

@media only screen and (max-width: 1600px) {
    .singleImage {
        width: 100vw;
        font-size: 1.25rem;
        display: block;
        padding-top: 2.5vh;
    }
    
    .imagecontainer {
        width: fit-content;
        height: fit-content;
        max-height: 80vh;
        margin: auto;
    }
    
    .imagecontainer img {
        max-height: 75vh;
        max-width: 90vw;
    }
    
    .imageDetails {
        width: 90vw;
        margin-left: auto;
        border: none;
    }
    
    .imageDate {
        font-size: 1rem;
    }
    
    .imageCamera {
        font-size: 1rem;
    }
    
    .imageFilm {
        font-size: 1rem;
    }
}
