.imagecontainer {
    display: flex;
    height: fit-content;
    width: 75vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-family: UrbanistBold;
    font-size: x-large;
}

.image {
    height: 100%;
    max-height: 90vh;
    object-fit: contain;
}

.imageDetails {
    padding: 1%;
    margin: 0 5% auto;
    border: #e98484 0.25rem solid;
    border-radius: 1rem;
    transform: translateY(20vh);
    width: fit-content;
    white-space: nowrap;
}

.imageHeader {
    margin: 0;
}

.imageDate {
    font-size: large;
    margin: 0;
}

.imageDetail {
    font-size: large;
    font-family: UrbanistBoldItalic;
    margin: 0;
}

@media only screen and (max-width: 1712px) {
    .imagecontainer {
        width: fit-content;
        height: fit-content;
        max-height: 80vh;
        width: 100vw;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        top: auto;
        padding: 5%;
    }

    .imageDetails {
        margin: auto;
        transform: translateY(5%);
        margin-bottom: 5%;
    }
}
