.imagecontainer {
    display: flex;
    height: fit-content;
    width: 75vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-family: UrbanistBold;
    font-size: x-large;
}

.image {
    height: 100%;
    max-height: 90vh;
    object-fit: contain;
}

.imageDetails {
    padding: 1%;
    margin: 0 5% auto;
    border: #e98484 0.25rem solid;
    border-radius: 1rem;
    transform: translateY(20vh);
    width: fit-content;
    white-space: nowrap;
}

.imageHeader {
    margin: 0;
}

.imageDate {
    font-size: large;
    margin: 0;
}

.imageDetail {
    font-size: large;
    font-family: UrbanistBoldItalic;
    margin: 0;
}

/*




.map {
    height: 20vh;
    width: 15vw;
} */

@media only screen and (max-width: 1712px) {
    .singleImage {
        width: 100vw;
        display: block;
        padding-top: 2.5vh;
        position: absolute;
        left: 0;
    }

    .imagecontainer {
        width: fit-content;
        height: fit-content;
        max-height: 80vh;
        width: 100%;
        display: block;
        transform: translateY(0);
        left: 45%;
        transform: translateX(-50%);
    }

    .imagecontainer img {
        max-height: 75vh;
        max-width: 90vw;
        object-fit: contain;
    }

    .imageDetails {
        width: 90vw;
        margin: auto;
        border: none;
        margin: 0;
        padding: 0;
        transform: translateY(0);
    }

    .map {
        display: none;
    }
}
