.photos {
    margin-top: 1rem;
    margin-left: 22.5vw;
    width: 77.5vw;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

@media only screen and (max-width: 1000px) {
    .photos {
        margin-left: 0;
        margin-top: 15vh;
        width: 100vw;
    }

}


@media only screen and (max-width: 850px) {
    .photos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    .photos {
        grid-template-columns: repeat(1, 1fr);
    }
}
