.container {
    margin-top: 1rem;
    margin-left: 25vw;
    width: 75vw;
    padding: 2rem;
}

.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}

.header {
    text-align: center;
}

@media only screen and (max-width: 1600px) {

    .container {
        margin: 0;
        /* padding-top: 3rem; */
        padding: 1rem;
        width: 100vw;
    }

}


@media only screen and (max-width: 850px) {
    .photos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    .photos {
        grid-template-columns: repeat(1, 1fr);
    }
}
