.photos {
    margin-top: 1rem;
    margin-left: 22.5vw;
    width: 77.5vw;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
}
