.container {
    margin-top: 10vh;
}

.map {
    height: 80vh;
    width: 50vw;
    margin: 0 auto;
    border: #e9b384 0.25rem solid;
    border-radius: 1.25%;
}

@media only screen and (max-width: 1712px) {
    .container {
        margin: 0;
        padding: 1rem;
        width: 100vw;
    }

    .map {
        height: 60vh;
        width: 75vw;
        margin: auto;
        z-index: 0;
    }
}
