.imagecontainer {
    display: flex;
    margin: 0 auto;
    width: 75%;
    border: black 0.25rem solid;
    border-top: none;
}

@media (width <= 1320px) {
    .imagecontainer {
        width: 100%;
    }
}