.title {
    font-size: 2rem;
    padding-left: 40%;
}

.featuredCarousel,
.recentCarousel {
    margin: 2%;
}

@media only screen and (max-width: 1000px) {
    .title {
        font-size: 2rem;
        padding-left: 0;
    }
    
    .featuredCarousel,
    .recentCarousel {
        margin: 0;
        text-align: center;
    }

    .carousels {
        margin-top: 25vh;
        height: fit-content;
        max-height: 80vh;
    }


}