
.recentTitle {
    font-size: 2rem;
    color: #000;
    padding-top: 1rem;
}

.featuredTitle {
    font-size: 2rem;
    color: #000;
    padding-top: 1rem;
}

.imageCarousels {
    display: absolute;
    height: 100vh;
    padding-top: 5%;
    padding-left: 25vw;

}

.carousel {
    width: fit-content;
    
}