.container {
    padding-top: 5vh;
    text-align: center;
}

@media only screen and (max-width: 1712px) {
    .container {
        margin-left: 0;
        padding-top: 1vh;
        padding-right: 0;
    }
}
