.container {
    margin-top: 1rem;
}

.profileInfo {
    display: flex;
    align-items: center;
    width: 100%;
}

.profilePicture {
    border-radius: 50%;
    margin: 1%;
}

.text {
    margin: 1%;
}

.signOut {
    width: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    aspect-ratio: 4/1;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border: black 0.25rem solid;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0.25rem 0.25rem black;
    transition-duration: 0.3s;
    background: white;
}

.signOut:hover {
    animation: 0.5s shiver;
    text-decoration: none;
    color: black;
    box-shadow: 0.25rem 0.25rem #d95d5d;
}

.signIn {
    width: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    aspect-ratio: 4/1;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border: black 0.25rem solid;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0.25rem 0.25rem black;
    transition-duration: 0.3s;
    background: white;
}

.signIn:hover {
    animation: 0.5s shiver;
    text-decoration: none;
    color: black;
    box-shadow: 0.25rem 0.25rem #d95d5d;
}

.managementContainer {
    display: flex;
    width: 100%;
    padding-top: 5%;
}

.list {
    border: 0.25rem solid #9ecbdb;
    border-radius: 1rem;
    width: 25%;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.listItem {
    display: inline-block;
    cursor: pointer;
    padding: 2.5%;
    margin: 2.5% 0;
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.listItemActive {
    display: inline-block;
    cursor: pointer;
    padding: 2.5%;
    margin: 2.5% 0;
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #9ecbdb;
    color: black;
}

.listItem:hover {
    background-color: #9ecbdb;
    color: black;
    transition: 0.3s;
}

.form {
    margin-left: 2.5%;
    width: 75%;
}
