.collectioncontainer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2.5%;
    text-align: center;
    position: relative;
}

.collectionpreview {
    text-decoration: none;
    color: var(--color-accent-teal);
    opacity: 75%;
    transition: 0.3s;
}

.collectionpreview > img {
    border: var(--color-black) 0.25rem solid;
    box-shadow: 0.25rem 0.25rem var(--color-black);
    transition: 0.3s;
}

.collectionpreview:hover {
    color: var(--color-accent-teal);
    text-shadow: 0.1rem 0.1rem 0.1rem var(--color-accent-tan);
    opacity: 100%;
}

.collectionpreview:hover > img {
    box-shadow: 0.25rem 0.25rem var(--color-accent-pink);
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    text-shadow:
        -0.1rem -0.1rem 0 var(--color-black),
        0.1rem -0.1rem 0 var(--color-black),
        -0.1rem 0.1rem 0 var(--color-black),
        0.1rem 0.1rem 0 var(--color-black);
    padding: 1%;
}
