@media only screen and (min-width: 1321px) {
    section {
        padding-top: 1%;
        width: 60%;
        margin-left: 10%;
    }
 }
 
@media only screen and (max-width: 1320px) {
    section {
        padding-top: 1%;
        width: 95%;
        margin-left: 5%;
      }
 
 }
