body {
    background-color: #f4f2de;
    color: #7c9d96;
    overflow-x: hidden;
}

section {
    font-family: urbanist;
    margin-left: 20vw;
    padding: 0 2.5%;
}

@media only screen and (max-width: 1712px) {
    section {
        margin-left: 0;
    }
}

@font-face {
    font-family: newspaper;
    src: url(../public/Playfair/PlayfairDisplay-Black.ttf);
}

@font-face {
    font-family: newspaperregular;
    src: url(../public/Playfair/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: newspapersemibold;
    src: url(../public/Playfair/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
    font-family: newspapermedium;
    src: url(../public/Playfair/PlayfairDisplay-Medium.ttf);
}

@font-face {
    font-family: newspaperextrabold;
    src: url(../public/Playfair/PlayfairDisplay-ExtraBold.ttf);
}

@font-face {
    font-family: urbanist;
    src: url(../public/Urbanist/Urbanist-Regular.ttf);
}

@font-face {
    font-family: urbanistItalic;
    src: url(../public/Urbanist/Urbanist-Italic.ttf);
}

@font-face {
    font-family: urbanistBold;
    src: url(../public/Urbanist/Urbanist-Bold.ttf);
}

@font-face {
    font-family: urbanistBoldItalic;
    src: url(../public/Urbanist/Urbanist-BoldItalic.ttf);
}

@font-face {
    font-family: urbanistLight;
    src: url(../public/Urbanist/Urbanist-Light.ttf);
}

@font-face {
    font-family: urbanistLightItalic;
    src: url(../public/Urbanist/Urbanist-LightItalic.ttf);
}
