.photo {
    padding: 0 1%;
    transition: 0.6s;
}

.thumbnailTitle {
    font-size: larger;
    font-family: urbanistBoldItalic;
}

.photo:hover {
    text-shadow: 0.1rem 0.1rem 0.1rem #e9b384;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 0.5%;
}

.imageHome {
    width: 100%;
    height: auto;
    border-radius: 0.5%;
    border: #E9B384 0.25rem solid;
}

.imageAll {
    width: 100%;
    height: auto;
    border-radius: 0.5%;
    border: #E98484 0.25rem solid;
}

.imageCollections {
    width: 100%;
    height: auto;
    border-radius: 0.5%;
    border: #CC74B9 0.25rem solid;
}

.imageTitle {
    font-size: x-large;
    font-family: urbanistBold;
}

.imageCamera {
    font-size: large;
    font-family: urbanistBold;
}

.imageFilm {
    font-size: large;
    font-family: urbanistBold;
}

.image {
    height: 100%;
    max-height: 80vh;
    width: fit-content;
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto;
}
