@keyframes collNeonGlow {
    0% {
        box-shadow: #c771a1 0 0 2.5px;
    }
    20% {
        box-shadow: #c771a1 0 0 5px;
    }
    40% {
        box-shadow: #c771a1 0 0 7.5px;
    }
    60% {
        box-shadow: #c771a1 0 0 10px;
    }
    80% {
        box-shadow: #c771a1 0 0 12.5px;
    }
    100% {
        box-shadow: #c771a1 0 0 15px;
    }
}

@keyframes homeNeonGlow {
    0% {
        box-shadow: #db8525 0 0 2.5px;
    }
    20% {
        box-shadow: #db8525 0 0 5px;
    }
    40% {
        box-shadow: #db8525 0 0 7.5px;
    }
    60% {
        box-shadow: #db8525 0 0 10px;
    }
    80% {
        box-shadow: #db8525 0 0 12.5px;
    }
    100% {
        box-shadow: #db8525 0 0 15px;
    }
}

@keyframes allNeonGlow {
    0% {
        box-shadow: #d95d5d 0 0 2.5px;
    }
    20% {
        box-shadow: #d95d5d 0 0 5px;
    }
    40% {
        box-shadow: #d95d5d 0 0 7.5px;
    }
    60% {
        box-shadow: #d95d5d 0 0 10px;
    }
    80% {
        box-shadow: #d95d5d 0 0 12.5px;
    }
    100% {
        box-shadow: #d95d5d 0 0 15px;
    }
}

.imageContainer {
    break-inside: avoid;
}

.photo {
    padding: 0 1%;
    transition: 0.3s;
}

.photoCollections {
    padding: 0 1%;
    transition: 0.3s;
}

.photoAll {
    padding: 0 1%;
    transition: 0.3s;
}

.photo:hover {
    text-shadow: 0.1rem 0.1rem 0.1rem #db8525;
}

.photoCollections:hover {
    text-shadow: 0.1rem 0.1rem 0.1rem #c771a1;
}

.photoAll:hover {
    text-shadow: 0.1rem 0.1rem 0.1rem #d95d5d;
}

.thumbnailTitle {
    font-size: larger;
    font-family: josefin-bold-italic;
}

.imageHome {
    width: 100%;
    height: auto;
    border-radius: 0.5%;
    border: #db8525 0.25rem solid;
}

.imageHome:hover {
    animation: homeNeonGlow 0.3s forwards;
}

.imageAll {
    width: 100%;
    height: auto;
    border-radius: 0.5%;
    border: #d95d5d 0.25rem solid;
}

.imageAll:hover {
    animation: allNeonGlow 0.3s forwards;
}

.imageCollections {
    width: 100%;
    height: auto;
    border-radius: 0.5%;
    border: #c771a1 0.25rem solid;
}

.imageCollections:hover {
    animation: collNeonGlow 0.3s forwards;
}

.imageTitle {
    font-size: x-large;
    font-family: josefin-bold;
}

.imageCamera {
    font-size: large;
    font-family: josefin-bold;
}

.imageFilm {
    font-size: large;
    font-family: josefin-bold;
}

.image {
    height: 100%;
    max-height: 80vh;
    width: fit-content;
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto;
}
