.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carouselwrapper {
    display: flex;
    margin: auto;
    width: 33%;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.centerImage {
    position: relative;
    z-index: 2;
}

.leftImage,
.rightImage {
    opacity: 0.8;
    height: 100%;
    margin: auto;
    z-index: 1;
    position: absolute;
    width: 25%;
}

.rightImage {
    transform: translateX(90%);
}

.leftImage {
    transform: translateX(-90%);
}

.centreImagePhoto {
    display: block;
    height: 100%;
    border-radius: 5%;
}

.centreImagePhoto img {
    border-radius: 5%;
}

.leftImagePhoto,
.rightImagePhoto {
    height: 80%;
    display: block;
    border-radius: 5%;
    object-fit: cover;
    transform: translateY(12.5%);
}

.leftImagePhoto {
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.rightImagePhoto {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.imageLink {
    text-decoration: none;
    color: #7c9d96;
}

.imageLink:hover {
    color: #7c9d96;
    text-shadow: 0.1rem 0.1rem 0.1rem #e9b384;
}

.prevbutton,
.nextbutton {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.4;
    color: grey;
}

.prevbutton {
    top: 0;
    left: 0;
    z-index: 1;
}

.nextbutton {
    top: 0;
    right: 0;
    z-index: 1;
}

@media only screen and (max-width: 1712px) {
    .carousel {
        margin: auto;
        width: 100%;
    }

    .carouselwrapper {
        padding: 0;
        width: 75%;
    }
}
